* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-size: 1540px 950px;
}



.container {
    background: rgba(0, 0, 0, 0.733);
    box-sizing: border-box;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.left img {

    filter: invert(100%);
    width: 110px;
    height: 70px;
    padding-top: 15px;

}

.left h2 {
    padding-left: 10px;
}


.left {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 400px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 20px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px rgb(17, 23, 197);

}

.right {
    border: 2px rgb(23, 197, 17);

}

.mid a {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(187, 183, 176);
    font-weight: 400;
}

.mid a:hover {
    text-decoration: underline;
    font-weight: 200;
    color: aliceblue;
    transition: 0.5s;
}

.btn {
    cursor: pointer;

}

.btn:hover {
    background-color: grey;
    transition: 0.5s;
}

.box {
    position: absolute;
    top: 25%;
    left: 6%;
    width: 400px;
    background: rgba(0, 0, 0, 0.747);
    color: #968e8e;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: -2px -2px 20px 1px rgba(116, 103, 103, 0.747);
}

.box h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid silver;
}

.box .text_field {
    position: relative;
    border-bottom: 2px rgba(154, 145, 145, 0.806);
    margin: 20px 35px;
    padding: 0 20px;
}

.box .text_field input {
    margin: 8px 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(227, 220, 220, 0.358);
}

.box .text_field label {
    position: absolute;
    top: 16px;
    left: 0;
    padding: 0 25px;
    pointer-events: none;
    transition: 0.5s;
}

.text_field input:focus~label,
.text_field input:valid~label {
    top: -18px;
    color: #747070;
    font-size: 18px;

}

.submit {
    margin: 20px 160px;
}